.forecast {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.forecast figure {
    display: flex;
    justify-content: space-between;
}

.forecast div {
    margin-right: 1em;
    height: 100px;
    vertical-align: middle;
}

.date {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-evenly;
}

.date span {
    text-align: left;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    .date {
        width: 25ch;
    }
}